@page "/index"
@*hacemos referencia a los componentes*@
@using UserBlazorApp.components;
@using WebServiceApiRest.Models;
@using WebServiceApiRest.Models.Response;
@using System.Collections;
@using System.Net.Http;
@using System.Net.Http.Json;
@using Newtonsoft.Json;
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<AuthorizeView>
    @* Authorized limita el contenido a personas autentificadas *@
    <Authorized>
        <div class="contenedorgridandmenubuttons">
            <div class="contenedorgrid">
                @* llamada al componente Grid *@
                <Grid documento="DocumentosEnum" ldocumentoToIndex="obtenerLdocumentoFromGrid"></Grid>
            </div>
            <div class="contenedormenubuttons">
                <div class="container border">
                    <div class="contenedorvisores">
                        <p class="visorprecio">@precioTotal€</p>
                    </div>
                    <div class="row justify-content-md-center rowmenubuttons">
                        <div class="col-auto colmenubutton">
                            <button class="menubutton"><img class="menuimg" src="images/nota.png" /></button>
                        </div>
                        <div class="col-auto colmenubutton">
                            <button class="menubutton"><img class="menuimg" src="images/pagar.png" /></button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center rowmenubuttons">
                        <div class="col-auto colmenubutton">
                            @*evitar el ~/ ya que no muestra la imagen correctamente*@
                            <button class="menubutton" @onclick="deleteLineaDocumento"><img class="menuimg" src="images/deleteLinea.png" /></button>
                        </div>
                        <div class="col-auto colmenubutton">
                            <button class="menubutton" @onclick="deleteDocumento"><img class="menuimg" src="images/deleteDocumento.png" /></button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center rowmenubuttons">
                        <div class="col-auto colmenubutton">
                            <button class="menubutton">Trasp. Mesa</button>
                        </div>
                        <div class="col-auto colmenubutton">
                            <button class="menubutton" @onclick="showNumpadAgain"><img class="menuimg" src="images/salonangel.png" /></button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center rowmenubuttons">
                        <div class="col-auto">
                            <button @onclick="checkButtonCategoriasClicked" class="menubutton categorybutton backgroundblue">Categorías</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (numMesa != 0)
        {
            if (isSecondNumpadVisible)
            {
                <NumpadLineas cantidadToIndex="obtenerCantidadLinea" precioToIndex="obtenerPrecioLinea" codebarToIndex="obtenerCodebar"></NumpadLineas>
            }
            else
            {
                <ListButtonCategorias buttonCategoriasClicked="@isButtonCategoriasClicked" idArticuloToFather="obtenerIdArticuloFromSon"></ListButtonCategorias>
            }
        }
        else
        {
            <Numpad numMesaToIndex="obtenerNumMesa"></Numpad>
        }

        <DialogContinue isDialogVisible="@isDialogContinueVisible" continueToFather="continueOperation" headerMensaje="@headerMensaje" mensaje="@mensaje"></DialogContinue>
        <DialogInfo isDialogVisible="@isDialogInfoVisible" headerMensaje="@headerMensaje" mensaje="@mensaje"></DialogInfo>

        <footer class="footer">
            <div class="col-auto contenedornavbutton">
                <button class="btn btn-primary p-4 rounded-0 navbutton" @onclick="LogoutUserRequest"><img class="menuimg" src="images/salir.png" /></button>
            </div>
            <div class="col-auto contenedornavbutton">
                <button class="btn btn-primary p-4 rounded-0 navbutton" @onclick="showSecondNumpad"><img class="menuimg" src="images/masmenos.png" /></button>
            </div>
            <div class="col-auto contenedornavbutton">
                <button class="btn btn-primary p-4 rounded-0 navbutton"></button>
            </div>
            <div class="col-auto contenedornavbutton">
                <button class="btn btn-primary p-4 rounded-0 navbutton"></button>
            </div>
            <div class="col-auto contenedornavbutton">
                <button class="btn btn-primary p-4 rounded-0 navbutton"></button>
            </div>
            <div class="col-auto contenedornavbutton">
                <p class="visormesa">Mesa: @numMesa</p>
            </div>
        </footer>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    @* NotAuthorized limita el contenido a personas no autentificadas *@
    <NotAuthorized>
        <p>No has iniciado sesión</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // url que apunta a la api
    public string Url = "http://192.168.1.185:44322";

    // respuesta recibe si ha habido éxito en la solicitud, mensaje si fuese necesario y los datos solicitados
    Respuesta<List<Documentos>> oRespuestaDocumentos = new Respuesta<List<Documentos>>();

    // rendija/tabla en la que se muestran los artículos
    Grid grid;
    //variable en la que se almacena el número de mesa que obtenemos de Numpad
    private int numMesa;
    //línea de documento (artículo) que recibimos del componente grid
    Ldocumentos ldocumentoFromGrid;
    //lista de artículos correspondiente a la mesa
    public IEnumerable<Documentos> DocumentosEnum { get; set; }
    //precio total de los artículos de la mesa
    private decimal precioTotal = 0;
    // declara el valor visible del componente dialog en false
    private bool isDialogInfoVisible = false;
    // boolean que controla la visibilidad de las categorías
    private bool isButtonCategoriasClicked = false;
    // terminalActual recoge el terminal con el que se ha iniciado sesión
    Terminal terminalActual { get; set; }
    // docId almacena el identificador del documento con el que se está trabajando
    private int docId = 0;
    // variable que controla la visibilidad del componente DialogContinue
    private bool isDialogContinueVisible = false;
    // idArticulo almacena el identificador del artículo que recibimos de ListButtonCategorias
    private int idArticulo = 0;
    // instancia del objeto Codebars que almacena los datos recibidos después de seleccionar Codebars en NumpadLineas
    private Codebars objCodebar = new Codebars();
    // boolean que controla la visibilidad del componente NumpadLineas
    private bool isSecondNumpadVisible = false;
    // variable mensaje del Dialog (body)
    private string mensaje = "";
    // variable mensaje del Dialog (header)
    private string headerMensaje = "";
    // boolean que recibe index del componente dialog para saber si continuar con la operación
    private bool continueFromSon;

    // este método se ejecuta siempre en la carga inicial de la página
    protected override async Task OnInitializedAsync()
    {
        // se almacena en authState el usuario actual
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // si no hay usuario o si el usuario no se ha identificado, es redirigido a login
        if (user.Identity == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }

        // formateo del precio total de la mesa para que muestre 0.00 en vez de 0
        string s = String.Format("{0:N2}", precioTotal);
        precioTotal = Convert.ToDecimal(s);
    }

    // recibe el número de mesa del componente Numpad
    private async void obtenerNumMesa(int num)
    {
        isDialogInfoVisible = false;
        //almacenamos en numMesa el valor recibido en num, el cual Index recibe de Numpad
        numMesa = num;

        // una vez tenemos el número de mesa, obtenemos el documento
        await getDocumentos();
        // una vez tenemos el número de mesa, obtenemos el precio total del documento
        await getPrecio();
        //NECESARIO PARA REFRESCAR GRID
        StateHasChanged();
    }

    // recibe el número cantidad para modificar la línea
    private async void obtenerCantidadLinea(int num)
    {
        isDialogInfoVisible = false;

        // comprobación de que haya línea seleccionada
        if (ldocumentoFromGrid != null && ldocumentoFromGrid.ldoc_id != 0)
        {
            ldocumentoFromGrid.ldoc_cantidad = num;
            // solicitud HTTP PUT para actualizar la cantidad de la línea
            await Http.PutAsJsonAsync<Ldocumentos>(Url + "/api/Ldocumento", ldocumentoFromGrid);

            // se deselecciona la línea
            ldocumentoFromGrid = null;

            // volvemos a llamar al documento y a su precio para actualizarlo
            await getDocumentos();
            await getPrecio();

            // Refrescar Grid
            StateHasChanged();
        }
        else
        {
            isDialogInfoVisible = true;
            mensaje = "Selecciona una fila del pedido";
        }

    }

    // recibe el número precio para modificar la línea
    private async void obtenerPrecioLinea(int num)
    {
        isDialogInfoVisible = false;

        // comprobación de que haya línea seleccionada
        if (ldocumentoFromGrid != null && ldocumentoFromGrid.ldoc_id != 0)
        {
            ldocumentoFromGrid.ldoc_pvp = num;
            // solicitud HTTP PUT para actualizar el precio de la línea
            await Http.PutAsJsonAsync<Ldocumentos>(Url + "/api/Ldocumento", ldocumentoFromGrid);

            // se deselecciona la línea
            ldocumentoFromGrid = null;

            // volvemos a llamar al documento y a su precio para actualizarlo
            await getDocumentos();
            await getPrecio();
            // Refrescar Grid
            StateHasChanged();
        }
        else
        {
            isDialogInfoVisible = true;
            mensaje = "Selecciona una fila del pedido";
        }
    }

    // recibe el número codebar para añadir la línea
    private async void obtenerCodebar(string code)
    {
        isDialogInfoVisible = false;

        // instancia de Respuesta que recibe en Data el codebar mediante una solicitud HTTP GET
        Respuesta<Codebars> oRespuestaCodebar = await Http.GetFromJsonAsync<Respuesta<Codebars>>(Url + "/api/Codebars/" + code);
        // se almacena los datos en la instancia de Codebars
        objCodebar = oRespuestaCodebar.Data;

        // arraylist que almacena todos los campos necesarios para realizar el HTTP POST más adelante
        ArrayList paramList = new ArrayList();
        paramList.Add(objCodebar.cbar_art_id); // id del artículo
        paramList.Add(numMesa); // número de la mesa
        paramList.Add(terminalActual.ter_id); // id del terminal en uso
                                              // solicitud HTTP POST para añadir línea al documento
        await Http.PostAsJsonAsync(Url + "/api/Ldocumento", paramList);

        // volvemos a llamar al documento y a su precio para actualizarlo
        await getDocumentos();
        await getPrecio();
        // Refrescar Grid
        StateHasChanged();
    }

    //obtiene la lista con todos los artículos de la mesa
    public async Task getDocumentos()
    {
        //almacenamos en oRespuesta la respuesta que recibimos de la api
        oRespuestaDocumentos = await Http.GetFromJsonAsync<Respuesta<List<Documentos>>>(Url + "/api/Mesa/" + numMesa + "/" + terminalActual.ter_id);

        // asigna a la variable false para indicar que no es visible, a la vez que la variable se asigna al parámetro del dialog
        isDialogInfoVisible = false;
        // entra en el if si no hubo éxito (no existe la mesa especificada)
        if (oRespuestaDocumentos.Exito == 0)
        {
            // asigna true a la variable para que se muestre el dialog
            isDialogInfoVisible = true;
            // se asigna a mensaje el mensaje de error recibido de la respuesta y el número de mesa en concreto
            mensaje = oRespuestaDocumentos.Mensaje;
            // una vez se muestra el mensaje, se asignan los valores por defecto
            numMesa = 0;
            precioTotal = 0;
            DocumentosEnum = null;
        }
        else
        {
            docId = (int)oRespuestaDocumentos.Data[0].doc_id;

            //almacenamos los datos de la respuesta en DocumentosEnum
            DocumentosEnum = (IEnumerable<Documentos>)oRespuestaDocumentos.Data;
            await localStorage.SetItemAsync("LSdocumento", DocumentosEnum);
        }
    }

    // elimina el documento y todas sus líneas
    public async Task deleteDocumento()
    {
        // comprueba que haya documento
        if (DocumentosEnum != null)
        {
            // último aviso para eliminar el documento
            isDialogContinueVisible = true;
            headerMensaje = "Aviso";
            mensaje = "Estás a punto de borrar el documento de la mesa " + numMesa + ". ¿Deseas continuar?";
        }
        else
        {
            // notifica de que se ha de introducir una mesa
            isDialogInfoVisible = true;
            headerMensaje = "Error";
            mensaje = "Introduce una mesa";
        }
    }

    // elimina una línea del documento
    public async Task deleteLineaDocumento()
    {
        // comprueba que haya documento y se haya seleccionado una línea
        if (oRespuestaDocumentos.Exito == 1 && ldocumentoFromGrid != null)
        {
            // solicitud HTTP DELETE de la línea
            await Http.DeleteAsync(Url + "/api/Ldocumento/" + ldocumentoFromGrid.ldoc_id + "/" + ldocumentoFromGrid.ldoc_art_id + "/" + numMesa);

            // limpiamos ldocumentoFromGrid
            ldocumentoFromGrid = null;

            // volvemos a llamar al documento y a su precio para actualizarlo
            await getDocumentos();
            await getPrecio();
            // refrescar Grid
            StateHasChanged();
        }
        else
        {
            isDialogInfoVisible = true;
            headerMensaje = "Error";
            mensaje = "Selecciona una línea que eliminar";
        }
    }

    private async Task getPrecio()
    {
        //obtenemos el precio total de la mesa solo si hubo éxito en la respuesta y hay datos en ella
        if (oRespuestaDocumentos.Exito == 1 && oRespuestaDocumentos.Data != null)
        {
            precioTotal = Convert.ToDecimal(oRespuestaDocumentos.Data[0].doc_total);
            //precioTotal = Math.Round(precioTotal, 2);
            string s = String.Format("{0:N2}", precioTotal);
            precioTotal = Convert.ToDecimal(s);
        }
    }

    // obtiene el objeto ldocumento seleccionado en grid
    void obtenerLdocumentoFromGrid(Ldocumentos ldocumento)
    {
        isDialogInfoVisible = false;
        ldocumentoFromGrid = ldocumento;
    }

    // continueOperation es el encargado de continuar con la operación si se ha clicado en aceptar
    private async Task continueOperation(bool boolContinueOperation)
    {
        isDialogContinueVisible = false;
        isDialogInfoVisible = false;
        StateHasChanged();

        // comprueba que haya documento abierto
        if (oRespuestaDocumentos.Exito == 1)
        {
            // si se ha clicado en aceptar
            if (boolContinueOperation)
            {
                // solicitud HTTP DELETE del documento y todas sus líneas
                await Http.DeleteAsync(Url + "/api/Mesa/" + docId);
                oRespuestaDocumentos = null;
                DocumentosEnum = null;
                precioTotal = 0;
                string s = String.Format("{0:N2}", precioTotal);
                precioTotal = Convert.ToDecimal(s);
            }
        }
        else
        {
            // asigna true a la variable para que se muestre el dialog
            isDialogInfoVisible = true;
            // se asigna a mensaje el mensaje de error recibido de la respuesta y el número de mesa en concreto
            mensaje = "Selecciona una mesa para eliminar";
        }

        // Refrescar Grid
        StateHasChanged();
    }

    // notifica que se ha clicado Categorías al componente que lista las categorías
    private async Task checkButtonCategoriasClicked()
    {
        isButtonCategoriasClicked = true;
    }

    // método que cierra la sesión activa
    private async Task LogoutUserRequest()
    {
        isDialogInfoVisible = true;
        if (numMesa == 0)
        {
            // llama a LogOutAsync del servicio UserService, el cual se encarga de cerrar la sesión
            await ServiceProvider.Get<UserService>().LogoutAsync();

            await updateTerminal(terminalActual, 0);

            // una vez cierra la sesión, redirige a la página principal
            NavigationManager.NavigateTo("/");
        }
        else
        {
            headerMensaje = "Error";
            mensaje = "Guarda la mesa primero para cerrar la sesión";
            isDialogInfoVisible = true;
        }
    }

    // este método se ejecuta siempre en la carga final de la página,o cuando alguno de sus parámetros ha sido alterado
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isButtonCategoriasClicked)
        {
            isButtonCategoriasClicked = false;
        }

        // recupera en user la información de usuario utilizando SessionStorage
        var user = await sessionStorage.GetItemAsync<string>("usuario");
        terminalActual = await sessionStorage.GetItemAsync<Terminal>("terminal");

        if (user != null)
        {
            // Convertir de Json a objeto
            Usuarios usuario = JsonConvert.DeserializeObject<Usuarios>(user);
            // recupera el terminal del sessionStorage
            Terminal terminal = await sessionStorage.GetItemAsync<Terminal>("terminal");

            if (firstRender)
            {
                StateHasChanged();
            }
        }
    }

    // solicitud HTTP PUT para bloquear o desbloquear el terminal
    private async Task updateTerminal(Terminal ter, int bloq)
    {
        ter.ter_bloqueado = bloq;
        await Http.PutAsJsonAsync<Terminal>(Url + "/api/Terminal", ter);
    }

    // método que guarda la mesa y resetea todos los valores de la página para comenzar de nuevo con otra mesa
    private async Task showNumpadAgain()
    {
        if (oRespuestaDocumentos != null && oRespuestaDocumentos.Exito == 1)
        {
            await updateMesa(oRespuestaDocumentos.Data[0], 0);
        }

        oRespuestaDocumentos = new Respuesta<List<Documentos>>();
        numMesa = 0;
        ldocumentoFromGrid = null;
        DocumentosEnum = null;
        precioTotal = 0;
        isDialogInfoVisible = false;
        isDialogContinueVisible = false;
        docId = 0;
        isButtonCategoriasClicked = false;
        idArticulo = 0;
    }

    // método utilizado para bloquear o desbloquear el documento/mesa
    private async Task updateMesa(Documentos doc, int bloq)
    {
        doc.doc_bloqueado = bloq;

        if (doc.listdoc == null || doc.listdoc.Count != 0)
        {
            await Http.PutAsJsonAsync<Documentos>(Url + "/api/Mesa", doc);
        }
        else
        {
            await Http.DeleteAsync(Url + "/api/Mesa/" + docId);
        }

    }

    // obtiene el id del artículo que desea añadirse al documento y hace una solicitud HTTP POST
    private async void obtenerIdArticuloFromSon(int num)
    {
        idArticulo = num;

        ArrayList paramList = new ArrayList();
        paramList.Add(idArticulo);
        paramList.Add(numMesa);
        paramList.Add(terminalActual.ter_id);
        await Http.PostAsJsonAsync(Url + "/api/Ldocumento", paramList);
        await getDocumentos();
        await getPrecio();
        StateHasChanged();
    }

    // método que visualiza el teclado numérico para introducir cantidad, precio o codebars
    private void showSecondNumpad()
    {
        isDialogInfoVisible = false;

        // el método hará su cometido solo si se ha introducido una mesa
        if (numMesa != 0)
        {
            // cambia la visibilidad del numpad de cantidades y precios
            isSecondNumpadVisible = !isSecondNumpadVisible;
        }
    }
}